rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_states/{userId} {
      allow read, write: if userId == 'shared_shop_state' || (request.auth != null && request.auth.uid == userId);
    }
  }
}
